attributesexpressionexample/src/main/mule/attributesexpressionexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dbb06bfc-4896-4d33-a74b-04d3fcca2a7a" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="attributesexpressionexampleFlow" doc:id="39baa651-07cb-444f-affe-3eac6d724163" >
		<http:listener doc:name="Listener" doc:id="a6ad4c85-7f6c-4d84-8450-c11f4b026f4f" config-ref="HTTP_Listener_config" path="/attribute"/>
		<set-payload value="#[attributes.queryParams.name]" doc:name="Set Payload" doc:id="643709c6-5749-422c-b562-68efa6dde765" />
	</flow>
</mule>
