scatter-grather/src/main/mule/scatter-grather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="88f06f52-c427-415d-a25b-b279f9e9eb74" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="scatter-gratherFlow" doc:id="1cdf533e-710d-48ab-82e8-273a98fabbcf" >
		<http:listener doc:name="Listener" doc:id="a04fb7d9-8ad4-44c5-b647-efe68b87ef46" config-ref="HTTP_Listener_config" path="/sc"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="79f856df-8891-4f24-ac5b-6be0edccaf09" >
			<route >
				<ee:transform doc:name="Transform Message" doc:id="c85e6bdb-5e3c-4922-84db-04c995fa91be" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"eno":attributes.
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="f9ecbc72-365f-4dcc-bdb3-c2cff530a066" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"ename":50/0
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="fad77466-f3f1-4fff-b95d-1e82fe017de8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"sal":25000
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="c440be05-c4ed-442a-9368-e046a47fbaa6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload...payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
