soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="59000b93-0a9a-4f60-96e3-71df9f6065d4" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="56f199e2-e72e-4247-af50-abfaa2e99c6c" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap12" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soapFlow" doc:id="ea07b2ab-8b6b-4378-819f-ab34df6dea98" >
		<http:listener doc:name="Listener" doc:id="a0a56f84-3369-40c9-af33-1d5a9826bb72" config-ref="HTTP_Listener_config" path="/soap"/>
		<ee:transform doc:name="Transform Message" doc:id="6a6e2f18-5577-4cfe-b294-30a773a7f76e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	
	ns0#Multiply: {
		ns0#intA: payload.A,
		ns0#intB: payload.B
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Multiply" doc:name="Consume" doc:id="7874900d-b229-4dcb-aa4b-005dbb8ae123" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="7b9bbd0f-3c03-4575-93e9-bc6c057140cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://tempuri.org/

output application/json
---
{
	"Result":payload.body.ns0#MultiplyResponse.ns0#MultiplyResult
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
