jms_consume/src/main/mule/jms_consume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="571c4253-ed18-4c25-9823-06e858683c19" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="f82d09ae-3ba3-44be-9447-c570f0582f76" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<jms:config name="JMS_Config1" doc:name="JMS Config" doc:id="4ed029ef-2c63-413f-8748-9024f8bf0795" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="jms_consumeFlow" doc:id="3f806f4a-6e27-4b9a-82bb-5d42eb763cf3" >
		<http:listener doc:name="Listener" doc:id="f4b33118-1576-4d32-b9c3-0dc15acb2e8a" config-ref="HTTP_Listener_config" path="/consume"/>
		<jms:consume doc:name="Consume" doc:id="164cc455-c2f2-4302-bbe0-80567d6d86d9" config-ref="JMS_Config" destination="mulesoftmsg">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:consume>
		<logger level="INFO" doc:name="Logger" doc:id="0ac1646e-c38a-4a38-9a35-f01ceb8346c3" message="#[payload]"/>
	</flow>
	<flow name="jms_consumeFlow1" doc:id="9539565e-70b0-45e1-b077-4f17da2acc97" >
		<jms:listener doc:name="On New Message" doc:id="fd17c2bd-25cb-4560-a936-d5fc6c370b9a" config-ref="JMS_Config1" destination="mulesoftmsg"/>
		<logger level="INFO" doc:name="Logger" doc:id="804256c8-0362-4ad0-a426-d210d2838fee" message="#[payload]"/>
	</flow>
</mule>
