munittestrecorder/src/main/mule/munittestrecorder.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b1135c12-cdd3-433d-9292-1ed93412b395" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c7e868d0-73c3-4805-b0c0-aff1ffb16846" >
		<http:request-connection protocol="HTTPS" host="jsonplaceholder.typicode.com" port="443" />
	</http:request-config>
	<flow name="munittestrecorderFlow" doc:id="a50257b8-33e6-4292-b534-ff710c35549b" >
		<http:listener doc:name="Listener" doc:id="89f86cd8-ef1e-4402-b921-0113392cb2ee" config-ref="HTTP_Listener_config" path="/test"/>
		<http:request method="GET" doc:name="Request" doc:id="47903cf4-0b79-4a78-9a19-4ee0f52a70b7" config-ref="HTTP_Request_configuration" path="/users">
			<http:query-params ><![CDATA[#[output application/java
---
{
	id : attributes.queryParams.id
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="0edd1cef-c043-4866-b397-03bfa607ac6c" >
			<when expression="#[sizeOf([payload])&gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="e27568c5-1a42-4609-8d2f-4292f5b35d01" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="3b42810a-2848-47a6-ada6-6560b5615506" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"No data Please contact sys administrator"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
